streamlit
streamlit-option-menu
Pillow
transformers
streamlit-lottie
googletrans==3.1.0a0
langchain
sentence-transformers
PyPDF2
pinecone-client
requests
keras-ocr
matplotlib
pandas
numpy
opencv-python-headless
tensorflow
google.generativeai
torch
